<div class="col-md-12">
  <div class="row"><h3>Photos</h3></div>
  <div class="row">
    <div class="col-md-4">
      <input type="file" ngf-select="" ng-model="picFile" name="file" multiple accept="image/*" required="">
    </div>
    <button ng-click="uploadPic(picFile)">Upload</button>
  </div>
  <div class="row"></div>
    <img ng-if="picFile" ngf-src="picFile" class="thumb">
  </div>
  <div class="row">
    <div class="col-md-1 image-gallery" ng-repeat="file in images">
      <img ngf-src="file" class="thumb">
    </div>
  </div>
</div>